<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.rowanparkingpass">

    <!-- Allow to connect with internet and to know the current network state-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat">
        <activity
            android:name=".Activities.LoginPageActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activities.HomePageActivity"
            android:label="Home Page" />

        <activity
            android:name=".Activities.ListViewActivities.ListActivity"
            android:label="List Activity" />

        <activity
            android:name=".Activities.PassActivity"
            android:label="Create Pass" />

        <activity
            android:name=".Activities.CreateDriverActivity"
            android:label="Create Driver" />

        <activity
            android:name=".Activities.CreateVehicleActivity"
            android:label="Create Vehicle" />

        <activity
            android:name=".Activities.RowanWebPageActivity"
            android:label="Rowan Web Page Activity" />

        <activity
            android:name=".Activities.SettingActivity"
            android:label="Settings" />

    </application>

</manifest>
